numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
jupyter

torch
torchvision
torchaudio
torchinfo
torchtext
torchinfo

diffusers
timm
accelerate
torch_fidelity
einops
transformers
datasets

tqdm
termcolor

kagglehub
streamlit